@for $i from 1 to 9 {
  $value: $i * 4;
  .mt-#{$i} {
    margin-top: #{$value}px;
  }
  .mr-#{$i} {
    margin-right: #{$value}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$value}px;
  }
  .ml-#{$i} {
    margin-left: #{$value}px;
  }
  .mx-#{$i} {
    margin-left: #{$value}px;
    margin-right: #{$value}px;
  }
  .my-#{$i} {
    margin-top: #{$value}px;
    margin-bottom: #{$value}px;
  }
  .ma-#{$i} {
    margin-top: #{$value}px;
    margin-right: #{$value}px;
    margin-bottom: #{$value}px;
    margin-left: #{$value}px;
  }

  .pt-#{$i} {
    padding-top: #{$value}px;
  }
  .pr-#{$i} {
    padding-right: #{$value}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$value}px;
  }
  .pl-#{$i} {
    padding-left: #{$value}px;
  }
  .px-#{$i} {
    padding-left: #{$value}px;
    padding-right: #{$value}px;
  }
  .py-#{$i} {
    padding-top: #{$value}px;
    padding-bottom: #{$value}px;
  }
  .pa-#{$i} {
    padding-top: #{$value}px;
    padding-right: #{$value}px;
    padding-bottom: #{$value}px;
    padding-left: #{$value}px;
  }
}

@for $font-size from 8 to 64 {
  .fs-#{$font-size} {
    font-size: #{$font-size}px;
  }
}